<%= form_for @lists do |f| %>
   <% if @lists.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@lists.errors.count, "error") %> prohibited this type from being saved:</h2>

          <ul>
            <% @lists.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
 <!-- <%= debug @type %>-->
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>

  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
