<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @type.title %>
</p>

<div>
  <% @type.each do |types|%>
     <p> <%= types.name %></p>
     <p> <%= types.quantity %> </p>
  <% end %>

 <%= render 'form' %>

</div>
<%= link_to 'Edit', edit_type_path(@type) %> |
<%= link_to 'Back', types_path %>
